@charset "UTF-8";
/* CSS Document */
html {
  font-size: 62.5%;
}

@font-face {
	font-family: 'Times';
	src: url("../fonts/Times New Roman.ttf");
}

body {
	margin:0; 
	padding:0; 
	width: 100%; 
	height: 100%;
	background-color: #000000;
	font-family:"Times","ヒラギノ明朝ProN","遊明朝",serif;
}

#input{display: none;}	/*ロード前は消す*/

*{color: aliceblue;}

/*ローディングアニメーション*/
.loader,
.loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
}
.loader {
  top:50%;
  left:50%;
  font-size: 10px;
  position: absolute;
  border-top: 0.35em solid rgba(255, 255, 255, 0.2);
  border-right: 0.35em solid #ffffff;
  border-bottom: 0.35em solid rgba(255, 255, 255, 0.2);
  border-left: 0.35em solid #ffffff;
  -webkit-animation: load8 3.0s infinite linear;
  animation: load8 3.0s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform:translate(-50%,-50%)rotate(0deg);
    transform:translate(-50%,-50%)rotate(0deg);
  }
  100% {
    -webkit-transform:translate(-50%,-50%)rotate(360deg);
    transform:translate(-50%,-50%)rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform:translate(-50%,-50%)rotate(0deg);
    transform:translate(-50%,-50%)rotate(0deg);
  }
  100% {
    -webkit-transform:translate(-50%,-50%)rotate(360deg);
    transform:translate(-50%,-50%)rotate(360deg);
  }
}

/*ロード画面*/
#load{
	visibility: visible;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 12;
	background-color:#000000;
	transition: ease 2s;
	pointer-events: none;
	opacity: 1;
}
#load.fade{
	opacity: 0;
	visibility: hidden;
}

/*背景*/
#imgPa{display:none;}
#img_spPa{display:none;}
@media (min-width: 769px){
#imgPa{
	display:block;
	padding-top: 2600px;
}
#img{
	position: absolute;
	/*background-image: url("../image/メインビジュアル_web_軽量版.jpg");*/
	opacity: 0.7;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100vw;
	height:100vh;
}
#img.imgSc{position: fixed;}
#imgPa.imgSc{padding-top: 0px;}
}
@media (max-width: 769px){
#img_spPa{
	display:block;
	padding-top: 2600px;
}
#img_sp{
	position: absolute;
	/*background-image: url("../image/visual_sp.png");*/
	opacity: 0.7;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100vw;
	height:100vh;
}
#img_sp.imgSc_sp{position: fixed;}
#imgPa_sp.imgSc_sp{padding-top: 0px;}
}

.visual{
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/*重ね順*/
#z-index0{
	z-index: 0;
	opacity: 0.7;
}/*vis_pc_4*/
.last_back{	
	height: 100%;
	position: relative;
	width: 100%;
	position: fixed;}

#z-index1{z-index: 1;opacity: 0.7;}/*vis_pc_1*/
#z-index2{z-index: 2;}/*vis_pc_2*/
#z-index3{z-index: 3;}/*vis_pc_3*/
#z-index5{z-index: 5;}/*意匠展ロゴ*/
#z-index6{z-index: 6;}/*concept*/
#z-index11{z-index: 11;}/*what*/

/*意匠展ロゴ*/
.ishouten img{width: 23vh;}
.ishouten{
	padding-top: 2600px;
	font-size: 3.0em;
	text-align: center;
	top: 35%;
	width: 100%;
	position: absolute;
	transform: translateY(-50%);
}
.ishouten img{transition: ease 2.0s;}	/*2秒かけて動く*/
.ishoutenS img{transform: translateY(-5vh)scale(1.5,1.5);}	/*上に50px移動、1.5倍拡大 1900pxまでスクロールすると追加される*/
.ishouten.ishoutenSc{
	padding-top: 0px;
	position: fixed;}

/*depth*/
#log{z-index: 13;}
.sink{
	overflow:hidden;
	padding-top: 5200px;
	position: absolute;
	text-align: center;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 90%;
	width: 100%;
	pointer-events: none;
}
.sink div{transition: ease 2.0s;}
.log2 div{transform: translate(0.4vw,-18vh)scale(1.6,1.6);} 	/*2021pxまでスクロールで追加*/
.sink.sinkSc{
	overflow:visible;
	padding-top: 0px;
	position: fixed;}

#log0{
	margin-right: 2.5vw;
	margin-left: 2.5vw;
	letter-spacing: 0.5rem;
}
.sink h2{width: 100px;}
.sink h1{width: 100px;}
/*'depth'と'm'*/
.depth{
	font-size: 2vh;
	display: inline-block;
	opacity: 1;
	transition: ease 2s;
	letter-spacing: 0.2rem;
	font-weight: 100;
}
.depout h1{opacity:0;} 	/*2021pxスクロールで'depth'と'm'を消す*/

/*concept,what*/
.layer{
	height: 100%;
	position: relative;
	position: fixed;
	width: 100%;
}
#concept{
	width: 48rem;
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translate(0%,-50%);
}
#what{
	width: 25rem;
	position: absolute;
	top: 50%;
	right: 8%;
	transform: translate(0%,-50%);
}

/*本文*/
#honbun {
	overflow:hidden;
	background: linear-gradient(0deg, rgba(4, 5, 7, 1), rgba(0, 0, 0, 0) );
	margin-top: 2600px;
	width: 100%;
	position: absolute;
	top: 100%;
}
/*ヘッダー*/
#header {
	background: linear-gradient(180deg, rgba(4, 5, 7, 1)0%,rgba(4, 5, 7, 0.8)30%, rgba(0, 0, 0, 0)100% );
	position: fixed;
	top: 0%;
	z-index: 100;
}
.header_img {
	height: 2.5vh;
}
.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:  90vw;
    margin: 0 5vw;
    height: 7rem;
  }
.pc-nav-list {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}
.pc-nav-list li {
  font-family: "ヒラギノ角ゴ Pro","遊ゴシック",sans-serif;
  margin: 0 0 0 5rem;
  font-size: 12px;
  list-style: none;
}
.pc-nav-list li:hover{opacity:0.6;}
.pc-nav-list li a{text-decoration: none;}
.icon .icon_pc{
	display: block;
	height: 24px;
}
.icon .icon_sp{
	display: none;
}
.ham {
	display: none;
}
/*文章*/
.contents {
	padding: 0 20vw 0 20vw;
    	margin-top: 35vh;
	position: relative;
}
.contents:nth-child(2) {
	padding-top: 0;
    height: 40vh;
}
.menu {
	width: 100%;
	text-align: center;
	font-size: 24px;
    	position: relative;
    	margin-bottom: 11vh;
}
.menu::after {
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%); 
}
/*ポスター画像*/
.poster_text_pc {
	display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.poster_text_sp {
	display: none;
}
/*研究室紹介*/
 #kenkyu input[name="tab_item"] {
 	display: none;
 }
.tabs {
    position: relative;
}
 .tab_content {
 	display: none;
	position: absolute;
	top: 0%;
	left: 3%;
	width: 55%;
 }
 #seihin:checked ~ #seihin_content,
 #sisupura:checked ~ #sisupura_content,
 #maneji:checked ~ #maneji_content,
 #zairyou:checked ~ #zairyou_content,
 #ishou:checked ~ #ishou_content,
 #komyu:checked ~ #komyu_content,
 #ninjou:checked ~ #ninjou_content,
 #shinri:checked ~ #shinri_content,
 #koma:checked ~ #koma_content,
 #kankyou:checked ~ #kankyou_content,
 #ninkou:checked ~ #ninkou_content,
 #bunka:checked ~ #bunka_content,
 #konteku:checked ~ #konteku_content,
 #sasute:checked ~ #sasute_content {
 	display: block;
 }
.kenkyu_img {
	display: block;
	width: 100%;
}
.kenkyu_img_sp{
	display: none;
}
.kenkyu_img img {
	width: 100%;
}
.tab_item {
	font-size: 16px;
	position: relative;
	left: 66%;
	display: block;
	margin-bottom: 1.78rem;
}
.tab_item div {
	display: inline;
}
.tabs input:checked + .tab_item::before {
    position: absolute;
    left: -2em;
    content: '＜';
}
.tab_item div:hover {
    background-color: #ffffff;
    color: #000;
}
/*開催概要*/
#map iframe{
	height:35rem;
	 width:75%;
}
#kaisai{
    text-align:center;
}
#kaisaigaiyo_text{
    	margin-top: 3vh;
	width: 100%;
}
#kaisaigaiyo_text_pc {
	display: block;
	width: 60%;
	margin:5rem auto;
}
#kaisaigaiyo_text_sp {
	display: none;
}
/*事前予約*/
/*#yoyaku.contents{padding: 35vh 20vw 25vh 20vw;}*/
#yoyaku_text_pc{
	display: block;
	width: 67%;
    	position: relative;
    	left: 50%;
    	transform: translate(-50%); 
}
#yoyaku_text_sp{
	display: none;
}
#mail {
	width: 3vh;
    	position: relative;
    	left: 50%;
    	transform: translate(-50%);
    	margin-top: 3vh;
}
/*協賛企業*/
#kyousan .menu::after {background-color:#000000;}
#kyousan{background: #ffffff;
         padding-top:6rem;}
#kyousan .menu{color:#000000;}
#kyosan_text_pc{
	display: block;
	margin:0 auto 5rem;
	width:78%;
        padding-bottom:10rem;
}
#kyosan_text_sp{
	display:none;
}

/*フッター*/
#footer{
    text-align:center;
}
#footer h5{
	display:inline-block;
	font-size:12px;
	font-weight: 100;
	letter-spacing:0.2rem;
    margin: 0 0 5vh 2vw;
	}
#footer img {
	display:inline-block;
	height: 2.5vh;
	transform:translateY(10%);
}

/*画像pc用*/
.img_pc {
	display: block;
}
.img_sp {
	display: none;
}

/*スマホ用(縦長のとき)*/
@media (orientation: portrait) {
	/*画像*/
	.img_pc {
		display: none;
	}
	.img_sp {
		display: block;
	}
	/*意匠展ロゴ*/
	.ishouten img{
		width: 40vw;
	}
	.ishoutenS img{transform: translateY(-4vh)scale(1.2,1.2);}
	/*depth*/
    	.sink{
		left: 50%;
        	top: 90%;
    	}
	.depth{
		font-size: 2vh;
       		margin-right: 1vw;
	    	margin-left: 1vw;
	}
	.depth_m{margin-left: -3vw;}
	.log2 div{
		transform: translate(-2.8vw,-15vh)scale(1.5, 1.5);
	}
	/*concept, what*/
    	#concept {
		width: 70%;
		position: absolute;
		top: 48%;
    		left: 50%;
		transform: translate(-50%,-50%);
	}
	#what {
		width: 70%;
		position: absolute;
		top: 50%;
    		left: 50%;
		transform: translate(-50%,-50%);
	}
	/*開催概要
	.info{
		width: 60%;
	}
	.infoS {transform: translate(-50%,-141%); opacity:1;filter: blur(0px);}*/
	/*本文*/
	#header{padding-top:1vh;}
	.header_img{
		margin-top:4rem;
	}
	.ham {
		display: block;
		height: 3vh;
     		cursor: pointer;
            	z-index: 100;
		margin-top:4rem;
	}
	#bar1, #bar2, #bar3 {
     		transition: all 0.3s ease;
	}
	.toggle #bar1 {
     		transform-origin: left top;
     		transform: translate(5px, 5px) rotate(45deg);
		stroke: black;
	}
	.toggle #bar2 {
     		opacity: 0;
	}
	.toggle #bar3 {
     		transform-origin: left bottom;
     		transform: translate(5px, -5px) rotate(-45deg);
		stroke: black;
	}
	.pc-nav {
            display: none;
    	}
	.sp-nav {
            display: block;
            position: fixed;
            top: 0%;
            right: 0%;
            height: 80vh;
            width: 60vw;
            background-color: #ffffff;
            padding: 20vh 0 20vh 0;
            z-index: 90;
	}
	.sp-nav li{
		font-size: 24px;
		line-height:100px;
	}
	.sp-nav li a{
		color: #000;
	}
	.icon .icon_pc{
		display: none;
	}
	.icon .icon_sp{
		display: block;
		height: 6rem;
		padding:50px 50px 0 0; 
		float:left;
	}
        .pc-nav-list {
            display: block;
        }
        .pc-nav-list li {
            margin-bottom: 4vh;
		font-size:4rem;
        }
    	.contents {
		margin-top: 5vh;
		padding: 15vh 5vw 0 5vw;
	}
	.menu{
	    	font-size:5vw;
	    	margin-bottom: 10vh;
	}
	.menu::after {
	    	width: 10%;
	    	height:2px;
	}
	.poster_text_sp {
		display: block;
		width:70%;
    		position: absolute;
    		top: 50%;
    		left: 50%;
    		transform: translate(-50%, -50%); 
	}
	.poster_text_pc {
		display: none;
	}
    	.tabs {
        	display: flex;
        	overflow-x: scroll;
    	}
    	.tab_item {
        	display:none;
    	}
    	.tab_content {
        	width: 100%;
        	display: block;
        	position: static;
        	padding: 0 20px 0 0;
    	}
    	.tab_content:last-of-type{
    		padding: 0;
    	}
	.tab_content#seihin_content{
		padding: 0 20px 0 10vw;
    	}
    	.tab_content#sasute_content{
		padding: 0 10vw 0 0;
    	}
	#map iframe{
    		height:28vh;
            	width:81%;
        }
	.kenkyu_img{
		display:none;
	}
    	.kenkyu_img_sp{
		display:block;
        	width: 70vw;
    	}
	.kenkyu_sp_h5{
		margin-top: 65px;
		margin-left:5%;
		width:90%;
    	}
	#kaisaigaiyo_text_pc {
		display: none;
	}
	#kaisaigaiyo_text_sp {
		display: block;
		margin:0 auto;
		width: 81%;
		height: 35vh;
	}
	#yoyaku_text_pc{
		display: none;
	}
	#yoyaku_text_sp{
		display: block;
		width: 75%;
    		position: relative;
    		left: 50%;
    		transform: translate(-50%);
	}
	#kyousan{
		margin-top:28vh;
		padding-top:10rem;
	}
	#kyosan_text_pc{
		display: none;
	}
	#kyosan_text_sp{
		display: block;
		margin: 0 18vw;
		padding-bottom:16rem;
	}
	#footer{
		margin-top:8rem;
	}	
	#footer img{
		margin-bottom:4rem;
	}
	#footer h5 {
		font-size:2rem;
	        display:block;
	}
}

